
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #530a70;
    --secondary-color: #FFC521;
    --accent1-color: #FEF5CC;
    --accent2-color: #68298d;

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'PT Serif', serif;
}

body {
    font-family: var(--paragraph-font);
    padding: 1rem;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

header,
footer {
    color: var(--accent1-color);
    position: relative;
    background-color: var(--primary-color);
}

footer {
    padding: 1rem;
}

header {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}
header div {
    background: var(--primary-color);
}


body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    margin: 0;
}

footer {
    text-align: center;
    margin-top: auto;
}

nav {
    display: flex;
    flex-direction: column;
    background: var(--secondary-color);
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.3);
}

section {
    padding-bottom: 1rem;
}

section a:hover {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
}

section a {
    text-decoration: none;
}

hr {
    margin-bottom: 1rem;
}

ul.menuLinks {
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
    max-height: 0;
}

ul.menuLinks.open {
    max-height: 200px;
}

.callToAction:hover {
    background: var(--secondary-color);
}

.bar1,
.bar2,
.bar3 {
    width: 38px;
    height: 4px;
    background-color: aliceblue;
    margin: 6px;
    transition: 0.4s;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    background: rgb(254, 252, 221);
    background: linear-gradient(0deg, rgba(254, 252, 221, 1) 0%, rgba(249, 249, 249, 1) 35%, rgba(255, 255, 255, 1) 100%);
}

.callToAction {
    height: 100px;
    width: 200px;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    opacity: 0.7;
    color: white;
    border: none;
    border-radius: .5rem;
}

.hero img {
    width: 100%;
}

.open .bar1 {
    transform: translate(0, 10px) rotate(-45deg);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    transform: translate(0, -10px) rotate(45deg);
}

.active {
    background: rgba(0, 0, 0, 0.2);
}

.grid-container {
    display: grid;
    justify-content: center;
    margin: 1rem;
    align-items: flex-start;
    gap: 1rem;
}

.card {
    width: 85vw;
    overflow: hidden;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar .card {
    margin: 1rem;
}

.card .calendar {
    width: 100%;
}

.card ul{
    padding-left: 2rem;
}

.card h2, h3, span {
    padding-top: 0.5rem;
}

.card li, p {
    padding-top: 0.5rem;
}

.weather div {
    display: flex;
    justify-content: center;
}
.weather div>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
}

.weather img {
    grid-row: span 2;
}

.spotlights h2 {
    text-align: center;
}

.spotlights h3 {
    text-align: left;
}
.spotlights h4 {
    text-align: right;
}

.spotlights {
    text-align: center;
    display: grid;
    gap: 1rem;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images div {
    margin: 0.5rem;
    text-align: center;
}

.img-card {
    overflow: hidden;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.images div img{
    padding: 0.5rem;
    width: 100%;
    height: auto;
}

.contact {
    padding: 1rem;
}
.contact div {
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 31rem;
    width: max-content;
    border-radius: 25px;
    overflow: hidden;
    padding: 35px 50px 0px 50px;
    position: relative;
}

.calendar-header {
    background:var(--primary-color);
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    align-items: center;
    font-weight: 700;
    color: #ffffff;
    padding: 10px;
    width: 120%;
}

.calendar-body {
    padding: 10px;
}

.calendar-week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    cursor: pointer;
    color: rgb(104, 104, 104);
}

.calendar-week-days div:hover {
    color: black;
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}

.calendar-week-days div {
    display: grid;
    place-items: center;
    color: var(--primary-color);
    height: 50px;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: #0A0921;
}

.calendar-days div {
    width: 37px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.year-picker {
    background: var(--primary-color);
    display: flex;
    align-items: center;
}

.year-change {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0px 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: #9796f0;
    transition: all .2s ease-in-out;
    transform: scale(1.12);
}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#current-year:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    background-color: var(--secondary-color);
    border-radius: 20%;
    color: #f8fbff;
}

.calendar-days div.current-date {
    color: #f8fbff;
    background-color: var(--primary-color);
    border-radius: 20%;
}

.month-list {
    position: absolute;
    top: 35%;
    background-color: var(--primary-color);
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    border-radius: 20px;
}

.visit {
    font-size: 2rem;
}

.month-list>div {
    background: var(--primary-color);
    display: grid;
    place-content: center;
    margin: 5px 10px;
    transition: all 0.2s ease-in-out;
}

.month-list>div>div {
    background: var(--primary-color);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.month-list>div>div:hover {
    background-color: var(--secondary-color);
    color: #f8fbff;
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
}

.month-list.show {
    visibility: visible;
    transition: 0.6s ease-in-out;
    animation: to-left .71s forwards;
}

.month-list.hideonce {
    visibility: hidden;
}

.month-list.hide {
    animation: to-right 1s forwards;
}

.date-time-formate {
    height: 4rem;
    width: 100%;
    position: relative;
    display: flex;
    top: 50px;
    justify-content: center;
    align-items: center;
}

.day-text-formate {
    font-size: 1.4rem;
    padding-right: 5%;
    border-right: 3px solid var(--primary-color);
}

.date-time-value {
    display: block;
    position: relative;
    text-align: center;
    padding-left: 5%;
}

.time-formate {
    font-size: 1.5rem;
}

.time-formate.hideTime {
    animation: hidetime 1.5s forwards;
}

.day-text-formate.hidetime {
    animation: hidetime 1.5s forwards;
}

.date-formate.hideTime {
    animation: hidetime 1.5s forwards;
}

.day-text-formate.showtime {
    animation: showtime 1s forwards;
}

.time-formate.showtime {
    animation: showtime 1s forwards;
}

.date-formate.showtime {
    animation: showtime 1s forwards;
}

@keyframes to-top {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(100%);
        opacity: 1;
    }
}

@keyframes to-left {
    0% {
        transform: translatex(230%);
        opacity: 1;
    }

    100% {
        transform: translatex(0);
        opacity: 1;
    }
}

@keyframes to-right {
    10% {
        transform: translatex(0);
        opacity: 1;
    }

    100% {
        transform: translatex(-150%);
        opacity: 1;
    }
}

@keyframes showtime {
    0% {
        transform: translatex(250%);
        opacity: 1;
    }

    100% {
        transform: translatex(0%);
        opacity: 1;
    }
}

@keyframes hidetime {
    0% {
        transform: translatex(0%);
        opacity: 1;
    }

    100% {
        transform: translatex(-370%);
        opacity: 1;
    }
}

#hamburgerButton {
    font-size: 2rem;
    border: none;
    background: var(--secondary-color);
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
    width: 50px;
    justify-self: flex-end;
    margin-right: 1rem;
}

.marker {
    visibility: hidden;
}