* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    margin: 1rem;
    margin-bottom: 0;
}

header {
    position: relative;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer {
    text-align: center;
    margin-top: auto;
}

footer p:nth-child(1) {
    padding-bottom: 0.5rem;
}

header,
footer {
    background: #02145f;
    color: aliceblue;
    padding: 1rem;

}

header span {
    margin-left: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    background: #083c01;
}
        

nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.1);
}

section a:hover {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
}

section a {
    text-decoration: none;
}
iframe {
    width: 100%;
}

.bar1,
.bar2,
.bar3 {
    width: 44px;
    height: 4px;
    background-color: aliceblue;
    margin: 6px 0;
    transition: 0.4s;
}

.hero img {
    width: 100%;
    height: auto;
}
.hero {
    position: relative;
}

.hero div {
    position: absolute;
    font-size: 2rem;
    background-color: #02145f;
    color: aliceblue;
    width: 100%;
    height: auto;
    opacity: 0.9;
    text-align: center;
    top: 85%;
}

ul.menuLinks {
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
    max-height: 0;
}

ul.menuLinks.open {
    max-height: 200px;
}

body.dark {
    background: black;
    color: aliceblue;
}

body.dark section a {
    color: #75a7d9;
}

body.dark section a:visited {
    color: rgb(64, 176, 51);
}

body.dark section a:hover {
    color: rgba(255, 255, 255, 0.9);
}

body.dark .card {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.open .bar1 {
    transform: translate(0, 10px) rotate(-45deg);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    transform: translate(0, -10px) rotate(45deg);
}

.grid-container {
    display: grid;
    margin: 1rem;
    align-items: center;
    gap: 1rem;
}

.active {
    background: rgba(0, 0, 0, 0.9);
}

.card {
    width: 100%;
    overflow: hidden;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card ul {
    list-style: none;
    margin: 1rem;
}

.card li {
    margin: 0.5rem;
}

.card h2 {
    background: #02145f;
    color: aliceblue;
    padding: 0.5rem;
    text-align: center;
}

.card p {
    text-align: center;
    margin: 1rem;
}

#lastModified {
    color: rgb(49, 235, 28);
}

#hamburgerButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: aliceblue;
    cursor: pointer;
    width: 44px;
    align-self: flex-end;
    position: absolute;
    top: 2vh;
    right: 3.2vw;
}

#darkBtn {
    position: absolute;
    height: 44px;
    top: 1vh;
    left: 2vw;
    margin: 0.75rem;
    cursor: pointer;
    background: white;
    border-radius: 50%;
}

#lastModified::before {
    content: "Last Modified: ";
}

#visits::before {
    content: "Page Visits: ";
}