@media screen and (min-width: 800px) {

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav li {
        flex-grow: 1;
    }

    .grid-container {
        grid-template-columns: 2fr 1fr;
    }

    .card {
        height: 100%;
    }
}